.StudentDetail .info div p {
    font-weight: 550;
}
.StudentDetail .icons-social .icon-cirle {
    margin-right: 10px;
    margin-top: 10px;
    border-radius: 50%;
}

.StudentDetail table tbody tr th {
    color: rgb(61, 62, 62);
    font-weight: 400;
    font-size: 14px;
}
